serviciocine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://com.cine" targetNamespace="http://com.cine">
	<wsdl:types>
		<xs:schema targetNamespace="http://com.cine" elementFormDefault="qualified">
			<xs:include schemaLocation="Cine.xsd"/>
			<xs:include schemaLocation="commonscine.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="peliculaRequest">
		<wsdl:part name="parameter" element="tns:pelicula"/>
	</wsdl:message>
	<wsdl:message name="servicioRequest">
		<wsdl:part name="parameter" element="tns:servicio"/>
	</wsdl:message>
	<wsdl:message name="funcionRequest">
		<wsdl:part name="parameter" element="tns:funcion"/>
	</wsdl:message>
	<wsdl:message name="ackResponse">
		<wsdl:part name="parameter" element="tns:ack"/>
	</wsdl:message>
	<wsdl:portType name="MoviePortType">
		<wsdl:operation name="insertMovieOperation">
			<wsdl:input message="tns:peliculaRequest"/>
			<wsdl:output message="tns:ackResponse"/>
		</wsdl:operation>
			<wsdl:operation name="updateServiceOperation">
			<wsdl:input message="tns:servicioRequest"/>
			<wsdl:output message="tns:ackResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MovieBinding" type="tns:MoviePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="insertMovieOperation">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateServiceOperation">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MovieService">
		<wsdl:port name="MoviePort" binding="tns:MovieBinding">
			<soap:address location="No target address"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
